@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


* {
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: white;
}

.homepage {
    height: 100vh;
  /*  width: 100vw;*/
}

.homepage header {
    height: 85vh;
}

header {
    background-image: url(ASSETS/IMAGE\ RESTAU.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.mk { 
    font-size: 24px;
}

nav {
    width: 60vw;
}

nav ul {
    display: flex;
    align-items: center;}

nav ul li {
    margin: 0 24px;
}

nav ul li a:hover{

    color: rgba(169, 121, 49, 1);
    transition: 0.5s;
}

footer {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
}

.point-container {
    display: flex;
}

.countain { 
    margin-left: 16px;
    display:flex;
    flex-direction: column;
}
   
    /* *********************CSS a propos********************/

main {

    height: 70vh;

    
}
main h1{
    text-align: center;
    padding-top: 2rem;
    color:rgba(169, 121, 49, 1)
}

.blocgauche{
    display: flex;
    width: 50vw;
    height: 60vh;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
       
}
.photohaut img{
    /*margin-left: -100vw;*/
    width: 40vw;  
    height: 15vh;
    animation-name: slideIn;
    animation-duration: 5s;
    animation-iteration-count:1 ;
  }
  @keyframes slideIn {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(20vw, 0px);
    }
    100% {
      transform: translate(0px 0px);
    }
  }
    
  
.photobas img{
   /* margin-left: -100vw;*/
    width: 40vw;
    height: 15vh;
    animation-name: slideIn;
    animation-duration: 5s;
    animation-iteration-count:1 ;
  }
  @keyframes slideIn {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(20vw, 0px);
    }
    100% {
      transform: translate(0vw, 0px);
    }
  }
    
  





