@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


* {
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


.top {
    background-image: url(ASSETS/IMAGE\ RESTAU.jpg);
    background-size: cover;
    
    
   display: flex;
    align-items: center;
    margin-bottom: 90vh;
    justify-content: space-between;
    box-sizing: 50%;
    
}


.espace {
    box-sizing: 25%;
}


.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: 25%;

    }

li{ 
   padding: 2vw;
}

a{
    color: white;
    
}

li a:hover{

    color: rgba(169, 121, 49, 1);
    transition: 0.5s;
}





.top .mk
{ 
    color: white;
    font-size: 24px;
    padding-left: 2vw;
    
}


footer {
    display: flex;
    background-color: black;
    height: 10vh;
    color: white;
    align-items: center;
    padding-left: 2vw;
        
    }
   .point
   {
    padding-left: 45vw;
   }
  .countain{
    
        display:flex;
        flex-direction: column;
        margin-left: 5%;
        
        }
   
    /* *********************CSS a propos********************/

    